{%extends "./index.html"%}

{% block main %}
<section class="bg-white dark:bg-yellow-400 h-lvh m-0">

    <div class="grid max-w-screen-xl px-4 py-20 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-7">
    {%for org in orgs%}
    <a href="#" class="flex flex-col mb-2 ml-4 items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://www.shutterstock.com/shutterstock/videos/1103894673/thumb/1.jpg?ip=x480" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{org.organization_name}}</h5>
            <h6 class="mb-2 text-2xl tracking-tight text-lime-900 dark:text-white">Location: {{org.location}}</h6>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{org.description}}</p>
        </div>
    </a>
    {%endfor%}
    </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-green-800 dark:border-gray-700">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                <form class="space-y-6" action="" method="post">
                    {% csrf_token %}
                    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Donate to our organization</h5>
                    <!-- {{form.as_p}} -->
                    <div>
                        <label for="phoneno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                        <input type="text" name="phone_number" id="phoneno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="0712333000" required />
                    
                    </div>
                    <div>
                        <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
                        <input type="number" name="amount" id="amount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="100" required />
                    </div>

                    <button type="submit" class="w-full text-white bg-lime-700 hover:bg-lime-500 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800">Make Donation</button>
                </form>
            </div>

        </div> 
    </div>
</section>




{%endblock%}